*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

header{
    background-color:#212121;
    color: #ffffff;
    padding: 1rem;
    position: fixed;
    left: 0;  
    top: 0;
    right: 0;  
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav-item{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0.5rem 1rem;
    list-style: none;
    display: inline-block;
}

.nav-item :hover{
    opacity: 0.65;
}

.nav-link{
    text-decoration: none;
    background-image: linear-gradient(#ffffff);
    background-position: 0% 100;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #ffffff;
    font-size: medium;
    font-size: 15px;
    padding: 0 10px;
    position: relative;
}

a::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover::after{
    width: 100%;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5rem;
    max-width: 1440px;
    width: 100%;
    margin: 0;
}

.fa-instagram{
    padding: .4rem;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dark-section{
    background-color: #212121;
}

.img-flex{
    display: flex;
    width: 600px;
    height: 800px;
    vertical-align: top;
    padding: 6rem;
    align-items: center;
    position: relative;
}

.display-to-intro{
    text-transform: capitalize;
    color: #ffffff;
    font-size: 3.5rem;
    padding: 1rem;
    font-weight: 400;
    position: relative;
}

.display-2-description{
    color: #ffffff;
    font-size: 1.0rem;
    padding: 1rem;
    font-weight: 200;
    line-height: 25px;
    position: relative;
}

.font-size{
    font-size: 2rem;
}

.white{
    background-color: #ffffff;
}

.dark-section{
    color: #212121;
    font-weight: 500;
}

.box-gray{
    background: #f6f6f6;
    width: 1100px;
    height: 400px;
    position: absolute;
    left: 18.75rem;
    top: 100rem;
    animation-name: mi-animacion;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes mi-animacion{
    0%{top: 100rem;}
    20%{top: 102rem;}
    40%{top: 104rem;}
    60%{top: 106rem;}
    80%{top: 108rem;}
    100%{top: 110rem;}

}

.box-gray:hover{
    height: 600px;

}

.img-maps{
    display: flex;
    width: 700px;
    height: 550px;
    padding: 6rem;
}

.row1{
    display: flex;
    padding: 1rem;
}

.display-to-intro1{
    text-transform: capitalize;
    font-size: 3.5rem;  
    padding: 2rem;
    font-weight: 400;
    position: relative;
    justify-content: space-evenly;
    width: 720px;
    height: 240px;
}

.display-2-description1{
    font-size: 1.0rem;
    padding: 1rem;
    font-weight: 200;
    line-height: 25px;
    position: relative;
    justify-content: space-even;
    width: 688px;
    height: 100px;
    
}

.dark1{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-weight: 200;
    line-height: 25px;
    color: #212121;
}

.icono{
    color: #f6f6f6;
    justify-content: center;
    display: flex;
    font-size: 48px;
}

.dark2{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-weight: 200;
    line-height: 25px;
    color: #ffffff;
}

.mkdir{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    justify-content: center;
    display: flex;
    padding: 1rem;
}

.container-grid{
    width: 100%;
    margin: 1.6em, auto;
    max-width: 1320px;
    display: grid;
    padding: 3.2rem;
    gap: 1.8em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) ; 
}   


.container-grid .img-grid{
    grid-column: 1/1;
    width: 545px;
    height: 362px;
}

.container-grid .grid-display{
    grid-column: 2/2;
}

.container-grid .img-grid-change{
    grid-column: 2/2;
    width: 545px;
    height: 362px;
}

.container-grid .grid-display-change{
    grid-column: 1/1;
}

.tit{
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 400;
}

.parraf{
    color: #ffffff;
    font-size: 16px;
    line-height: 1.86em;
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
}

.line{
    color: #ffffff;
    font-weight: 400;   
    padding: 2rem;
}

.grid-container{
    width: 100%;
    margin: 1.6em, auto;
    max-width: 1440px;
    display: grid;
    padding: 3.2rem;
    gap: 1.8em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-img{
    width: 400px;
    height: 600px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Spartan', sans-serif;
    font-size: 45px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3em;
    padding-top: 5rem;
}

.parraf-one{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
    line-height: 1.66em;
}

.grid-line{
    padding: 20px 0 20px;
    text-align: center;
    transition: all (left to right);
    -webkit-box-direction: normal;
    transform: translate(-15% 0);
    color: #ffffff;
    font-size: 900;
    font-weight: bolder;
}

.grid-container-white{
    width: 100%;
    margin: 1.6em, auto;
    max-width: 1440px;
    display: grid;
    padding: 3.2rem;
    gap: 1.8em;
    grid-template-columns: repeat(2, 1fr)
}

.grid-img-white{
    width: 547px;
    height: 727px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-white{
    font-family: 'Spartan', sans-serif;
    font-size: 42px;
    color: #212121;
    font-weight: 600;
    line-height: 1.3em;
    padding-top: 5rem;
}

.title-white-bold{
    font-family: "Spartan",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.parraf-one-white{
    font-size: 16px;
    line-height: 1.66em;
    word-wrap: break-word;
    vertical-align: baseline;
    font-weight: 400;
    font-family:"Spartan",sans-serif;
    box-sizing: border-box;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-wrap: break-word; 
}

body{
    width: 82%;
    max-width: 1440px;
    margin: 5em auto;
    margin-bottom: 0;
}

.grid-img-ch{
    width: 545px;
    height: 488px;
    vertical-align: top;
}

.grid-line-white{
    padding: 20px 0 20px;
    text-align: center;
    transition: all (left to right);
    -webkit-box-direction: normal;
    transform: translate(-15% 0);
    color: #212121;
    font-size: 900;
    font-weight: bolder;
}

.ch{
    width: 545px;
    height: 599px;
}

.sub-footer{
    color: #808080;
    letter-spacing: 2px;
    font-family: "Spartan",sans-serif;
    opacity: .8;
    font-size: 11px;
    display: grid;
    grid-template-rows: repeat(2 1fr);
    justify-content: left;
    align-items: center;
}   

footer{
    background-color: #212121;
}

section{
    background-color: #ffffff;
    font-family: "Spartan",sans-serif;
}

.dep-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.8em;
    justify-content: center;
}

.img-des{
    grid-column: 1/2;
}

.dep-title{
    grid-column: 2/2;
    grid-row: 2/1;
    text-align: left;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 45px;    
}

.dep-table{
    grid-column: 2/2;
    grid-row: 2/1;
    line-height: 2.66em;
    border-spacing: 1px;
    border-spacing: 0;
    display: table-cell;
    padding-top: 5rem;
    vertical-align: baseline;
    text-align: center;
}

.img-des{
    width: 747.83px;
    height: 694.52px;
    padding-right: 3rem;
}

td{
    padding-top: 12px;
    padding-right: 22px;
    line-height: 2.6em;
    text-align: center;
    font-weight: 400;
}

th{
    padding-top: 12px;
    padding-right: 22px;
    line-height: 1.3em;
}

.reserva-container{
    display:grid;
    gap: 1.6em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #ffffff;
    padding:20px; 
    justify-content:center;
    align-items:center;
}

.reserve-img{
    grid-column: 2/1;
}

.reserv-text{
    grid-column: 1/2;
}

.img-left{
    width: 533px;
    height: 309.8px;
}

.img-continue{
    width: 242.25px;
    height: 242.25px;
}

.img-right{
    width: 533px;
    height: 309.8px;
    grid-column: 2/1;
}

.container-img{
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.title-black{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3em;
    font-family: "Spartan",sans-serif;
}

.text1{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    font-family: "Spartan",sans-serif;
    margin: 0;
}

.dark{
    background-color: #212121;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.gfa-size{
    width: 537px;
    height: 301.39px;
}

.des-size{
    width: 375.28px;
    height: 281.45px;    
}

.thor-size{
    width: 537px;
    height: 510.14px;
}

.thor-small{
    width: 537px;
    height: 218.81px;
}

.thorurbana-size{
    width: 375.28px;
    height: 281.45px;
}

.gen-container{
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,auto);
}

.title-text{
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 1;
   grid-row-end: 1;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.gfa{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: inline-block;
}

.des{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;    
    display: flex;
    display: inline-block;
    justify-content: center;
} 

.thor{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
}

.title-text2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.thor-urbana{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.cont-text3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.title-gfa{
    color: #ffffff;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    font-size: 42px;
}

.n-text{
    color: #ffffff;
    font-family: "Spartan", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.6em;
}

.cont-text3{
    color: #ffffff;
    font-family: "Spartan", sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}
